## control flow satements 

## if conditions

write a program to calculate the percentage of a student in the subject maths science social eng, hindi

In [5]:
x=input("enter the name of a student")
a=int(input("enter the marks scored in english"))
b=int(input("enter the marks scored in hindi"))
c=int(input("enter the marks scored in math"))
d=int(input("enter the marks scored in science"))
e=int(input("enter the marks scored in social"))
sum=a+b+c+d+e
n=(sum/500)*100
print("the percentage is:",n)

enter the name of a student Bhumika sahu
enter the marks scored in english 90
enter the marks scored in hindi 91
enter the marks scored in math 92
enter the marks scored in science 93
enter the marks scored in social 94

the percentage is: 92.0

In [8]:
a=int(input("enter the percentage scored by a student"))
if a>=90:
    print("A grade")

if a>=75 and a<90:
    print("B grade")

if a>=65 and a<75:
    print("c grade")

enter the percentage scored by a student 92

A grade

## if else statement
write a program to diplay hello if number entered by a user is a multiple of 5 else print bye

In [9]:
a=int(input("enter the number"))
if a%5==0:
    print("hello")

else:
    print("bye")

enter the number 10

hello

In [10]:
a=int(input("enter the number"))
if a>0:
    print("positive number")

else:
    print("negative number")

enter the number -124

negative number

## if elif else

accept the city and print its monumnet 
delhi- Red Fort
agra- Taj mahal
jaipur- jal mahal
orissa- konak temple

hydrabad- charminar
other- Record not found

In [6]:
city=input("enter the city")
if city=="Delhi":
    print("the monument in delhi is redfort")
elif city=="Agra":
    print("the monument in agra is Tajmahal")
elif city=="Jaipur":
    print("the monument in jaipur is jalmahal")
elif city=="orisaa":
    print("the monument in orissa is konark temple")
elif city=="Hydrabaad":
    print("the monument in hydrabaad  is Charminar")
else:
   print("no record found")

enter the city Delhi

the monument in delhi is redfort