## Concept of loops

## While loop
program to display number form 1 to 5

In [1]:
i=1
n=5
while i<=n:
    print(i)
    i=i+1

1
2
3
4
5

enter the values from user and make a multiplication table till 10

In [2]:
num=int(input("enter a number for which you want to print table from"))
i=1
n=10
while i<=n:
    print(i,"*",num," = ",num*i)
    i=i+1
print("this is the multiplication")

enter a number for which you want to print table from 2

1 * 2  =  2
2 * 2  =  4
3 * 2  =  6
4 * 2  =  8
5 * 2  =  10
6 * 2  =  12
7 * 2  =  14
8 * 2  =  16
9 * 2  =  18
10 * 2  =  20
this is the multiplication

## infinite loop

In [ ]:
age =12
while age>18:
    print("you can vote")

In [3]:
count=0
while(count<25):
    count=count + 1
    print("Hello students")

Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students

## For loop

In [4]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

## looping through a string

In [5]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [6]:
for x in range(25):
    print(x);

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [7]:
for x in range(3,25):
    print(x);

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24