## set 
## creating a set

In [1]:
a={"animals", "balls","cat"}
print(a)
print(type(a))

{'cat', 'animals', 'balls'}
<class 'set'>

## set items are unordered

In [2]:
a={"animals", "balls","cat"}
print(a[0])

TypeError: 'set' object is not subscriptable

## duplicates not allowed

In [3]:
a={"animals", "balls","cat", "balls", "cat", "cat"}
print(a)

{'cat', 'animals', 'balls'}

## True and 1 is considered the same value

In [5]:
a={"animals", "balls","cat", "animals", 1,2,3,True}
print(a)

{1, 2, 3, 'animals', 'cat', 'balls'}

In [6]:
a={"animals", "balls","cat", "animals", 1,2,3,True}
print(a)
print(len(a))

{1, 2, 3, 'animals', 'cat', 'balls'}
6

# set itmes- Data Types

In [9]:
x1={1,2,3,4}
x2={1,2,3,3,2,1,4,5}
x3={"a","b","c"}
x4={True,False,True}
print(x1,x2,x3,x4)

{1, 2, 3, 4} {1, 2, 3, 4, 5} {'a', 'b', 'c'} {False, True}

In [10]:
m={1,2,2,2.1,2,3,-5,'apple',(6+3j), True}
print(m)

{1, 2, 3, 2.1, 'apple', -5, (6+3j)}

In [11]:
x5={[1,2,3,4,5]}
print(x5)

TypeError: unhashable type: 'list'

In [13]:
x5={(1,2,3,4,5)}  # immutable means hashable thats why we can insert a tuple in a set 
print(x5)

{(1, 2, 3, 4, 5)}

In [14]:
x5={{"a":1,"b":2}} # dictionary is also un hashable so we can not add dictionary in a set 
print(x5)

TypeError: unhashable type: 'dict'

In [15]:
## nesting is not a property of set
a={{1,2,3,4},{4,5,6,7}}
print(a)

TypeError: unhashable type: 'set'

## set() constructor

In [16]:
thisset=set(("alpha","beta","gamma"))
print(thisset)
print(type(thisset))

{'alpha', 'beta', 'gamma'}
<class 'set'>

## creating empty set

In [17]:
a={}
print(a)
print(type(a))

{}
<class 'dict'>

In [18]:
empty=set()
print(type(empty))
print(empty)

<class 'set'>
set()

## Acess items

In [19]:
a={"a","b","c","d"}
for x in a:
    print(x)

a
b
c
d

## check if item is present in the set

In [20]:
a={"data", "item", "python", "code"}
print("code" in a )
print("analyst" in a)

True
False

## Add items

In [21]:
a={"a","b","c","d"}
a.add(100)
print(a)

{'a', 100, 'b', 'c', 'd'}

In [24]:
x={"data","python","code"}
y={10,20,30,40,50,50,60}
x.update(y)
print(x)
print(y)

{40, 10, 'python', 50, 20, 'code', 'data', 60, 30}
{50, 20, 40, 10, 60, 30}

## remove items

In [25]:
n={40, 10, 'python', 50, 20, 'code', 'data', 60, 30}
n.remove(40)
print(n)

{10, 'python', 50, 20, 'code', 'data', 60, 30}

In [29]:
n.remove('data')
print(n)

{10, 50, 20, 'code', 60, 30}

In [30]:
m={40, 10, 'python', 50, 20, 'code', 'data', 60, 30}
x=m.pop()
print(m)

{10, 'python', 50, 20, 'code', 'data', 60, 30}

In [31]:
n={40, 10, 'python', 50, 20, 'code', 'data', 60, 30}
m.clear() # deleting all elements of set but not the entire set
print(m)

set()

In [32]:
n={40, 10, 'python', 50, 20, 'code', 'data', 60, 30}
del m # deleting entire set
print(m)

NameError: name 'm' is not defined

## Join two sets

In [33]:
x={"a","b","c"}
y={1,2,3,4,5}
z=x.union(y)
print(z)

{'a', 1, 2, 3, 4, 5, 'b', 'c'}

In [34]:
## write a python program to find the max nad min values
setn={5,10,15,2,50}
print("print original set")
print(setn)
print("maximum value os the setn is")
print(max(setn))
print("minimum value os the setn is")
print(min(setn))

print original set
{2, 50, 5, 10, 15}
maximum value os the setn is
50
minimum value os the setn is
2

## return a new set of identical items from two sets

In [36]:
set1={1,2,3,4,5}
set2={3,2,5,6,7}
print(set1.intersection(set2))

{2, 3, 5}

## Assignment question

In [ ]:
## create a set then apply some functions like minimum ,maximuma ,length etc then convert into list tuples