## Pandas part 2

In [1]:
import pandas as pd

In [12]:
df1 = pd.read_csv(r"C:\Users\HP\Downloads\139e6cf1dafa0b8cb5ae32f6facef8a4-6bf4a1baf7a9245cf2f0b16feefa86672bf39b19\139e6cf1dafa0b8cb5ae32f6facef8a4-6bf4a1baf7a9245cf2f0b16feefa86672bf39b19\free-taxonomy.csv")

In [14]:
df1

,name,id,parent_name,parent_id,vocabulary,x-description,x-notes,services
0,Emergency,1101,0,0.0,Open Eligibility Human Services,"Services for psychiatric emergencies, emergenc...",NaN,NaN
1,Food,1102,0,0.0,Open Eligibility Human Services,"Services for free meals, food pantries, help p...",NaN,NaN
2,Housing,1103,0,0.0,Open Eligibility Human Services,"Services for emergency, short-term and long-te...",NaN,NaN
3,Goods,1104,0,0.0,Open Eligibility Human Services,"Services for clothing, furniture, baby supplie...",NaN,NaN
4,Transit,1105,0,0.0,Open Eligibility Human Services,"Services for bus passes, transportation to sch...",NaN,NaN
...,...,...,...,...,...,...,...,...
322,In Danger,20089,Urgency,20087.0,Open Eligibility Human Situations,NaN,NaN,NaN
323,Chronic Illness,20090,Health,1106.0,Open Eligibility Human Situations,NaN,NaN,NaN
324,Spouses,20091,Role,20072.0,Open Eligibility Human Situations,NaN,NaN,NaN
325,Dependents,20092,Role,20072.0,Open Eligibility Human Situations,NaN,NaN,NaN
326,Intellectual Disability,20093,Disability,20017.0,Open Eligibility Human Situations,NaN,NaN,NaN

In [15]:
df1.dropna() ##temporaary change
df1

,name,id,parent_name,parent_id,vocabulary,x-description,x-notes,services
0,Emergency,1101,0,0.0,Open Eligibility Human Services,"Services for psychiatric emergencies, emergenc...",NaN,NaN
1,Food,1102,0,0.0,Open Eligibility Human Services,"Services for free meals, food pantries, help p...",NaN,NaN
2,Housing,1103,0,0.0,Open Eligibility Human Services,"Services for emergency, short-term and long-te...",NaN,NaN
3,Goods,1104,0,0.0,Open Eligibility Human Services,"Services for clothing, furniture, baby supplie...",NaN,NaN
4,Transit,1105,0,0.0,Open Eligibility Human Services,"Services for bus passes, transportation to sch...",NaN,NaN
...,...,...,...,...,...,...,...,...
322,In Danger,20089,Urgency,20087.0,Open Eligibility Human Situations,NaN,NaN,NaN
323,Chronic Illness,20090,Health,1106.0,Open Eligibility Human Situations,NaN,NaN,NaN
324,Spouses,20091,Role,20072.0,Open Eligibility Human Situations,NaN,NaN,NaN
325,Dependents,20092,Role,20072.0,Open Eligibility Human Situations,NaN,NaN,NaN
326,Intellectual Disability,20093,Disability,20017.0,Open Eligibility Human Situations,NaN,NaN,NaN

In [16]:
df1.dropna(axis=1, inplace=True)

In [17]:
df1

                        name     id                         vocabulary
0                  Emergency   1101    Open Eligibility Human Services
1                       Food   1102    Open Eligibility Human Services
2                    Housing   1103    Open Eligibility Human Services
3                      Goods   1104    Open Eligibility Human Services
4                    Transit   1105    Open Eligibility Human Services
..                       ...    ...                                ...
322                In Danger  20089  Open Eligibility Human Situations
323          Chronic Illness  20090  Open Eligibility Human Situations
324                  Spouses  20091  Open Eligibility Human Situations
325               Dependents  20092  Open Eligibility Human Situations
326  Intellectual Disability  20093  Open Eligibility Human Situations

[327 rows x 3 columns]

In [18]:
df1.dropna()

                        name     id                         vocabulary
0                  Emergency   1101    Open Eligibility Human Services
1                       Food   1102    Open Eligibility Human Services
2                    Housing   1103    Open Eligibility Human Services
3                      Goods   1104    Open Eligibility Human Services
4                    Transit   1105    Open Eligibility Human Services
..                       ...    ...                                ...
322                In Danger  20089  Open Eligibility Human Situations
323          Chronic Illness  20090  Open Eligibility Human Situations
324                  Spouses  20091  Open Eligibility Human Situations
325               Dependents  20092  Open Eligibility Human Situations
326  Intellectual Disability  20093  Open Eligibility Human Situations

[327 rows x 3 columns]

In [19]:
df2 = pd.read_csv(r"C:\Users\HP\Downloads\139e6cf1dafa0b8cb5ae32f6facef8a4-6bf4a1baf7a9245cf2f0b16feefa86672bf39b19\139e6cf1dafa0b8cb5ae32f6facef8a4-6bf4a1baf7a9245cf2f0b16feefa86672bf39b19\free-taxonomy.csv")

In [21]:
df2.fillna("Bhumi")

,name,id,parent_name,parent_id,vocabulary,x-description,x-notes,services
0,Emergency,1101,0,0.0,Open Eligibility Human Services,"Services for psychiatric emergencies, emergenc...",Bhumi,Bhumi
1,Food,1102,0,0.0,Open Eligibility Human Services,"Services for free meals, food pantries, help p...",Bhumi,Bhumi
2,Housing,1103,0,0.0,Open Eligibility Human Services,"Services for emergency, short-term and long-te...",Bhumi,Bhumi
3,Goods,1104,0,0.0,Open Eligibility Human Services,"Services for clothing, furniture, baby supplie...",Bhumi,Bhumi
4,Transit,1105,0,0.0,Open Eligibility Human Services,"Services for bus passes, transportation to sch...",Bhumi,Bhumi
...,...,...,...,...,...,...,...,...
322,In Danger,20089,Urgency,20087.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi
323,Chronic Illness,20090,Health,1106.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi
324,Spouses,20091,Role,20072.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi
325,Dependents,20092,Role,20072.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi
326,Intellectual Disability,20093,Disability,20017.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi

In [23]:
df2 = df2.astype(str)
df2.fillna("Bhumi", inplace=True)

In [24]:
df2

,name,id,parent_name,parent_id,vocabulary,x-description,x-notes,services
0,Emergency,1101,0,0.0,Open Eligibility Human Services,"Services for psychiatric emergencies, emergenc...",Bhumi,Bhumi
1,Food,1102,0,0.0,Open Eligibility Human Services,"Services for free meals, food pantries, help p...",Bhumi,Bhumi
2,Housing,1103,0,0.0,Open Eligibility Human Services,"Services for emergency, short-term and long-te...",Bhumi,Bhumi
3,Goods,1104,0,0.0,Open Eligibility Human Services,"Services for clothing, furniture, baby supplie...",Bhumi,Bhumi
4,Transit,1105,0,0.0,Open Eligibility Human Services,"Services for bus passes, transportation to sch...",Bhumi,Bhumi
...,...,...,...,...,...,...,...,...
322,In Danger,20089,Urgency,20087.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi
323,Chronic Illness,20090,Health,1106.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi
324,Spouses,20091,Role,20072.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi
325,Dependents,20092,Role,20072.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi
326,Intellectual Disability,20093,Disability,20017.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327 entries, 0 to 326
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           327 non-null    object
 1   id             327 non-null    object
 2   parent_name    327 non-null    object
 3   parent_id      327 non-null    object
 4   vocabulary     327 non-null    object
 5   x-description  327 non-null    object
 6   x-notes        327 non-null    object
 7   services       327 non-null    object
dtypes: object(8)
memory usage: 20.6+ KB

In [26]:
df2.describe()

,name,id,parent_name,parent_id,vocabulary,x-description,x-notes,services
count,327,327,327,327,327,327,327,327
unique,321,327,77,79,2,227,2,1
top,Insurance,20093,Bhumi,Bhumi,Open Eligibility Human Services,Bhumi,Bhumi,Bhumi
freq,2,1,22,22,233,100,276,327

## broadcasting

In [30]:
df2["id"]=df2["id"]+"5000"

In [32]:
df2

,name,id,parent_name,parent_id,vocabulary,x-description,x-notes,services
0,Emergency,11015000,0,0.0,Open Eligibility Human Services,"Services for psychiatric emergencies, emergenc...",Bhumi,Bhumi
1,Food,11025000,0,0.0,Open Eligibility Human Services,"Services for free meals, food pantries, help p...",Bhumi,Bhumi
2,Housing,11035000,0,0.0,Open Eligibility Human Services,"Services for emergency, short-term and long-te...",Bhumi,Bhumi
3,Goods,11045000,0,0.0,Open Eligibility Human Services,"Services for clothing, furniture, baby supplie...",Bhumi,Bhumi
4,Transit,11055000,0,0.0,Open Eligibility Human Services,"Services for bus passes, transportation to sch...",Bhumi,Bhumi
...,...,...,...,...,...,...,...,...
322,In Danger,200895000,Urgency,20087.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi
323,Chronic Illness,200905000,Health,1106.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi
324,Spouses,200915000,Role,20072.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi
325,Dependents,200925000,Role,20072.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi
326,Intellectual Disability,200935000,Disability,20017.0,Open Eligibility Human Situations,Bhumi,Bhumi,Bhumi