## Tuple in python

In [ ]:
## creating a tuple
my_tuple=(1,2,3)
print(my_tuple)
print(type(my_tuple))

## Mixed Data types

In [3]:
my_tuple=(1,"hello",3,2,4+5j)
print(my_tuple)
print(type(my_tuple))

(1, 'hello', 3, 2, (4+5j))
<class 'tuple'>

## empty tuple

In [5]:
my_tuple=()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

## nested tuple

In [6]:
a=("data",[1,2,3],(4,5,6))
print(a)
print(type(a))

('data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

## Creating tuple with only one item

In [7]:
var1=("hello")
print(var1)
print(type(var1))

hello
<class 'str'>

In [8]:
## when we want to create single item tuple then use comma(,) after single value like string or int etc
var2=("hello",)
print(var2)
print(type(var2))

('hello',)
<class 'tuple'>

## tuple constructor

In [10]:
a=tuple(("a","b","c"))
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

## indexing

In [13]:
a=(47,48,45,46,48,4,8)
print(a[5])

4

In [15]:
a=(47,48,45,46,48,4,8,"bhumi","aashi")
print(a[7])
print(a[-3])

bhumi
8

## slicing

In [16]:
a=(47,48,45,46,48,4,8)
print(a[0:6])

(47, 48, 45, 46, 48, 4)

In [19]:
a=(47,48,45,46,48,4,8)
print(a[:])

(47, 48, 45, 46, 48, 4, 8)

In [18]:
a=(47,48,45,46,48,4,8)
print(a[::2])

(47, 45, 48, 8)

In [17]:
a=(47,48,45,46,48,4,8)
print(a[:6])

(47, 48, 45, 46, 48, 4)

In [20]:
a=(47,48,45,46,48,4,8)
print(a[::-1])

(8, 4, 48, 46, 45, 48, 47)

In [21]:
t=(1,2,3,4,5,6,7,8)
print(t[::])
print(t[3:])
print(t[:4])
print(t[-2:5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

In [22]:
a=(25,26,27,28,29)
y=list(a)
y.append(30)
a=tuple(y)
print(a)

(25, 26, 27, 28, 29, 30)

In [23]:
a=(25,26,27,28,29)
y=list(a)
y.remove(26)
a=tuple(y)
print(a)

(25, 27, 28, 29)

In [24]:
a=(1,2,3,4,5,6,7,8,9)
del a

In [25]:
print(a)

NameError: name 'a' is not defined

## loop

In [27]:
this_tuple=("a","b","c")
for x in this_tuple:
    print(x)

a
b
c

## join two tuple

In [28]:
tuple1=("a","b","c")
tuple2=(1,2,3)
tuple3=tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## multiply

In [29]:
a=("apple","bhumi","aashi")
b=a*2
print(b)

('apple', 'bhumi', 'aashi', 'apple', 'bhumi', 'aashi')

In [30]:
t=(1,2,3,4,5,6,7,8)
print(t*2)
print(t+t+t)
print(t+t)
print(len(t))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

## write a program, to take 5 input from user ans store it in a tuple

In [36]:
print("enter 5 numbers")
l=()
for i in range(0,5):
    num=int(input())
    l=l+(num,)
print(l)

enter 5 numbers

 1
 2
 3
 4
 5

(1, 2, 3, 4, 5)